---
import Layout from '../layouts/Layout.astro';
import { DottedSurface } from '../components/DottedSurface';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import WhyUs from '../components/WhyUs.astro';
import About from '../components/About.astro';
import HowItWorks from '../components/HowItWorks.astro';
import GoogleReviews from '../components/GoogleReviews.astro';
import LocalSEO from '../components/LocalSEO.astro';
import FAQ from '../components/FAQ.astro';
import Career from '../components/Career.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import StickyCallButton from '../components/StickyCallButton.astro';
---

<Layout>
  <DottedSurface client:load />
  <div class="relative z-10">
    <Header />
    <main>
      <Hero />
      <Services />
      <WhyUs />
      <About />
      <HowItWorks />
      <GoogleReviews />
      <LocalSEO />
      <FAQ />
      <Career />
      <Contact />
    </main>
    <Footer />
    <StickyCallButton />
  </div>
</Layout>
