---
import { ParticleTextEffect } from './ui/particle-text-effect';
---

<section class="relative min-h-[80vh] flex items-center justify-center px-6 pt-24">
  <div class="w-full max-w-5xl mx-auto">
    <ParticleTextEffect client:load words='["TAXI", "OVERATH", "FAHREN", "SICHER", "24/7"]' />
  </div>
</section>
